// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    .links{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      max-width: 1200px;
      margin: 20px auto;

      .links-list{
        text-align: start;
        p.title{
          text-indent: 5px;
        }
        p.footer-link {
          @include brackets-on-hover();
          margin: 0;
          cursor: pointer;
          
          &:hover{
            color: #5c00ff;
          }
        }
      }
    }


    .copyright{
      background: #212121;
      padding: 0px 35px;
      color: white;
      height: 25px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      & span{
          margin: 0 5px;
          cursor: pointer;
      }
    }
  }



