<app-navbar page="dashboard"></app-navbar>

<div class="box">
    <div class="box__header">
      <h3 class="box__header-title">stats</h3>
    </div>
    <div class="box__body">
      <div class="stats stats--main">
        <div class="stats__amount">120239</div>
        <div class="stats__caption">Product Views</div>
        <div class="stats__change">
          <div class="stats__value stats__value--positive">+6%</div>
          <div class="stats__period">this week</div>
        </div>
      </div>
  
      <div class="stats">
        <div class="stats__amount">87331</div>
        <div class="stats__caption">visitors</div>
        <div class="stats__change">
          <div class="stats__value stats__value--negative">-12%</div>
          <div class="stats__period">this week</div>
        </div>
      </div>
  
      <div class="stats">
        <div class="stats__amount">29</div>
        <div class="stats__caption">Pending Orders</div>
        <div class="stats__change">
          <div class="stats__value">+78</div>
          <div class="stats__period">this week</div>
        </div>
      </div>
  
      <div class="stats">
        <div class="stats__amount">1201</div>
        <div class="stats__caption">Customers</div>
        <div class="stats__change">
          <div class="stats__value">+3</div>
          <div class="stats__period">this week</div>
        </div>
      </div>
    </div>
  </div>