<div class="container-fluid">
  <div class="control-panel">
    <div *ngIf="!loading">
      <button class="btn btn-simple" *ngIf="!showProductForm" (click)="openProductForm(true)">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Product
      </button>
      <button class="btn btn-simple" *ngIf="!showProductForm">
        <i class="fa fa-tag"></i>&nbsp;&nbsp; Start a sale
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm" (click)="SaveProduct()">
        <i *ngIf="!loading" class="fa fa-save"></i>&nbsp;&nbsp; Save Product
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm" (click)="closeProductForm()">
        <i *ngIf="!loading" class="fa fa-arrow-left"></i>&nbsp;&nbsp; Cancel
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm && !isNew" (click)="RemoveProduct()">
        <i *ngIf="!loading" class="fa fa-trash"></i>&nbsp;&nbsp; Remove Product
      </button>
    </div>

    <button class="btn btn-simple" *ngIf="loading">
      <i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp; {{loading}}
    </button>
  </div>

  <div class="table-responsive" *ngIf="!showProductForm">
    <table id="datatables" class="table table-shopping" width="100%" style="width:100%" view-init-spy (onAfterViewInit)="initDataTable()">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="th-description">Description</th>
          <th class="th-description">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of products" (click)="toggleRow(row)" [class.selected]="row.selected">
          <td>
            <div class="img-container" [class.stacked-effect]="row.attachments.length > 1">
              <img *ngIf="row.attachments.length>0" [src]="attachmentServer + row.attachments[0].url" alt="...">
            </div>
          </td>
          <td class="td-product">
            <a>{{row.name}}</a>
            <br />
            <span [class.outofstock]="row.stock == 0" class="badge">{{(row.stock > 0)? row.stock +' items in stock': 'Out of stock' }}</span>
          </td>
          <td>
            <small>
              <label>Category:&nbsp; {{row.category.name}}</label>
            </small>
            <br/> {{row.description}}
          </td>
          <td>
            <b>{{'$' + row.price}}</b>
          </td>
          <td class="td-actions">
            <button class="btn btn-raised" (click)="product = row; openProductForm(false)">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="showProductForm">
    <form id="productForm" view-init-spy (onAfterViewInit)="formLoaded()">
      <fieldset>
        <div class="text-center">
          <span class="required-mark"></span>Required Fields</div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required required">
              <input type="text" class="form-control" name="ProductName" placeholder="Product Name" [(ngModel)]="product.name" maxlength="65"
                data-parsley-required-message="Product Name is required" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input class="form-control" id="category" name="category" placeholder="Product Category" auto-complete [(ngModel)]="productCategory"
                [source]="categories" [accept-user-input]="false" [no-match-found-text]="''" (valueChanged)="categoryChanged($event)"
                (ngModelChange)="categoryChanged($event)" display-property-name="name" [list-formatter]="autocompleListFormatter"
                data-parsley-validation-threshold="1" data-parsley-required-message="Category is required" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group required">
              <textarea type="text" class="form-control" name="description" placeholder="Product Description" [(ngModel)]="product.description"
                rows="3" data-parsley-required-message="Description is required" required>
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="number" class="form-control" name="stock" placeholder="Available Stock" [(ngModel)]="product.stock" data-parsley-required-message="Stock is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="number" class="form-control" name="Price" placeholder="Product Price" [(ngModel)]="product.price" data-parsley-required-message="Price is required"
                required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="product-images" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>

              <div *ngFor="let image of product.attachments" class="product-image">
                <img class="media" [src]="attachmentServer + image.url">
              </div>

            </div>
            <div class="ulpoad-area">
              <ng2-file-input [id]="'multiFilesInput'" [show-previews]="true" [multiple]="true" (onAdded)="onAdded($event)" (onRemoved)="removeFile($event)"
                extensions="['jpg', 'JPG', 'png', 'PNG', 'jpeg', 'JPEG']" [browse-text]="uploadIconHtml" [drop-text]="'Drag and drop files here or click the button below to upload product pictures'">
              </ng2-file-input>
            </div>
          </div>
        </div>
      </fieldset>

    </form>
  </div>

</div>