<div class="container-fluid">
  <div class="control-panel">
    <button class="btn btn-simple" *ngIf="!showProductForm" (click)="openProductForm()">
      <i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Product
    </button>
    <button class="btn btn-simple" *ngIf="showProductForm" (click)="SaveProduct()">
      <i *ngIf="!loading" class="fa fa-save"></i>
      <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp; {{loading? '&nbsp;&nbsp;&nbsp;Saving Product':'Save Product'}}
    </button>
    <button class="btn btn-simple" *ngIf="!showProductForm">
      <i class="fa fa-tag"></i>&nbsp;&nbsp;Start a sale
    </button>
    <button class="btn btn-simple" *ngIf="!loading && showProductForm" (click)="RemoveProduct()">
      <i *ngIf="!loading" class="fa fa-trash"></i>
      <i *ngIf="loading" class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp; {{loading? '&nbsp;&nbsp;&nbsp;Removing Product':'Remove Product'}}
    </button>
  </div>

  <div class="table-responsive" *ngIf="!showProductForm" view-init-spy (onAfterViewInit)="initDataTable()">
    <table id="datatables" class="table table-shopping" width="100%" style="width:100%">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="th-description">Description</th>
          <th class="th-description">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of products">
          <td>
            <div class="img-container" [class.stacked-effect]="row.images.length > 0">
              <img [src]="row.avatar" alt="...">
            </div>
          </td>
          <td class="td-product">
            <a>{{row.name}}</a>
            <br />
            <small>in:&nbsp;{{row.category.name}}</small>
            <span [class.outofstock]="row.stock == 0" class="badge">{{(row.stock > 0)? row.stock +' items in stock': 'Out of stock' }}</span>
          </td>
          <td>{{row.about}}</td>
          <td>
            <b>{{row.price}}</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="showProductForm">
    <form id="productForm">
      <fieldset>
        <div class="text-center">
          <span class="required-mark"></span>Required Fields</div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required required">
              <input type="text" class="form-control" name="ProductName" placeholder="Product Name" [(ngModel)]="product.name" maxlength="65"
                data-parsley-required-message="Product Name is required" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input class="form-control" id="category" name="category" placeholder="Product Category" [(ngModel)]="product.category" auto-complete
                [source]="categories" 
                [accept-user-input]="true" 
                [no-match-found-text]="''"
                (valueChanged)="categoryChanged($event)" 
                data-parsley-validation-threshold="1" 
                data-parsley-required-message="Category is required"
                required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group required">
              <textarea type="text" class="form-control" name="description" placeholder="Product Description" [(ngModel)]="product.about"
              rows="5"
                data-parsley-required-message="Address is required" required>
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="text" class="form-control" name="City" placeholder="City" [(ngModel)]="product.city" data-parsley-required-message="City is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="text" class="form-control" name="zip" placeholder="Zip Code" [(ngModel)]="product.zipCode" data-parsley-pattern="/^[a-z0-9][a-z0-9\- ]{0,10}[a-z0-9]$/i"
                maxlength="12" data-parsley-pattern-message="A valid zip code contains only digits, letters, space and dash"
                data-parsley-validation-threshold="1" data-parsley-required-message="Zip Code is required" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="text" class="form-control" name="countries" placeholder="Countries of operation" data-parsley-required-message="Mobile is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <input type="text" class="form-control" name="Phone" placeholder="Phone Number" [(ngModel)]="product.phone" maxlength="20"
                PhoneNumberValidator data-parsley-pattern-message="This should be a valid international phone number<br/> Format: + [Country Code] [Phone Number]"
                data-parsley-validation-threshold="1">
            </div>
          </div>
        </div>
      </fieldset>

    </form>
  </div>

</div>