<div class="container-fluid">
  <div class="control-panel">
    <div *ngIf="!loading">
      <button class="btn btn-simple" *ngIf="!showProductForm" (click)="openProductForm(true)">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Product
      </button>
      <button class="btn btn-simple" *ngIf="!showProductForm">
        <i class="fa fa-tag"></i>&nbsp;&nbsp; Start a sale
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm" (click)="SaveProduct()">
        <i *ngIf="!loading" class="fa fa-save"></i>&nbsp;&nbsp; Save Product
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm" (click)="closeProductForm()">
        <i *ngIf="!loading" class="fa fa-arrow-left"></i>&nbsp;&nbsp; Cancel
      </button>
      <button class="btn btn-simple" *ngIf="showProductForm && !isNew" (click)="RemoveProduct()">
        <i *ngIf="!loading" class="fa fa-trash"></i>&nbsp;&nbsp; Remove Product
      </button>
    </div>

    <button class="btn btn-simple" *ngIf="loading">
      <i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp; {{loading}}
    </button>
  </div>

  <div class="table-responsive" *ngIf="!showProductForm">
    <table id="datatables" class="table table-shopping" width="100%" style="width:100%" view-init-spy (onAfterViewInit)="initDataTable()">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="th-description">Description</th>
          <th class="th-description">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of products" (click)="toggleRow(row)" [class.selected]="row.selected">
          <td>
            <div class="img-container" [class.stacked-effect]="row.attachments.length > 1">
              <img *ngIf="row.attachments.length>0" [src]="attachmentServer + row.attachments[0].url" alt="...">
            </div>
          </td>
          <td class="td-product">
            <a>{{row.name}}</a>
            <br />
            <span [class.outofstock]="row.stock == 0" class="badge">{{(row.stock > 0)? row.stock +' items in stock': 'Out of stock' }}</span>
          </td>
          <td>
            <small>
              <label>Category:&nbsp; {{row.category?.name}}</label>
            </small>
            <br/> {{row.description}}
          </td>
          <td>
            <b>{{'$' + row.price}}</b>
          </td>
          <td class="td-actions">
            <button class="btn btn-raised" (click)="product = row; openProductForm(false)">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="showProductForm">
    <h5 class="text-bold">Product Information
      <small>
        ( &nbsp;&nbsp;
        <span class="required-mark"></span> Required Fields)
      </small>
    </h5>

    <form id="productForm" view-init-spy (onAfterViewInit)="formLoaded()">
      <fieldset>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <label for="ProductName">Product Name</label>
              <input type="text" class="form-control" name="ProductName" [(ngModel)]="product.name" maxlength="65" data-parsley-required-message="Product Name is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <label for="category">Product Category</label>
              <input class="form-control" id="category" name="category" placeholder="" auto-complete [(ngModel)]="productCategory" [source]="categories"
                [accept-user-input]="false" [no-match-found-text]="''" (valueChanged)="categoryChanged($event)" (ngModelChange)="categoryChanged($event)"
                display-property-name="name" [list-formatter]="autocompleListFormatter" data-parsley-validation-threshold="1"
                data-parsley-required-message="Category is required" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group required">
              <label for="description">Product Description</label>
              <textarea type="text" class="form-control" name="description" placeholder="" [(ngModel)]="product.description" rows="3" data-parsley-required-message="Description is required"
                required>
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <label for="stock">Available Stock</label>
              <input type="number" class="form-control" name="stock" placeholder="" [(ngModel)]="product.stock" data-parsley-required-message="Stock is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="moq">Minimum Required Quantity</label>
              <input type="number" class="form-control" name="moq" placeholder="" [(ngModel)]="product.moq">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <label for="Price">Product Price</label>
              <input type="number" class="form-control" name="Price" placeholder="" [(ngModel)]="product.price" data-parsley-required-message="Price is required"
                required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group required">
              <label for="ProtoPrice">Prototype Price</label>
              <input type="number" class="form-control" name="ProtoPrice" placeholder="" [(ngModel)]="product.prototypePrice" data-parsley-required-message="Prototype Price is required"
                required>
            </div>
          </div>
        </div>
        <h5 class="text-bold">Returns & Warranty</h5>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="ProtoPrice">Return Policy</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="returnAccepted" [(ngModel)]="returnAccepted">Returns are accepted
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div *ngIf="returnAccepted" class="form-group required">
              <label for="returnPeriode">Return Period</label>
              <input type="number" class="form-control" name="returnPeriode" placeholder="" [(ngModel)]="product.returnPeriode" data-parsley-required-message="Return Periode is required"
                required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="ProtoPrice">Warranty</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="warrantyProvided" [(ngModel)]="warrantyProvided">Warranty is provided
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div *ngIf="warrantyProvided" class="form-group required">
              <label for="warrantyPeriod">Warranty Validity Period</label>
              <input type="number" class="form-control" name="warrantyPeriod" placeholder="" [(ngModel)]="product.warrantyPeriod" data-parsley-required-message="Warranty Period is required"
                required>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <form id="specForm">
          <button class="btn btn-dark btn-raised btn-sm" type="button" (click)="addSpec()">Add Specification &nbsp;
            <i class="fa fa-chevron-right"></i>
          </button>

          <div class="form-group">
            <input type="text" class="form-control" name="specKey" id="specKey" placeholder="Specification Title" [(ngModel)]="spec.name"
              data-parsley-required-message="Title is required" required>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" name="specDesc" id="specDesc" rows="3" placeholder="Specification Description"
              [(ngModel)]="spec.value" data-parsley-required-message="Description is required" required></textarea>
          </div>
        </form>
      </div>
      <div class="col-xs-12 col-md-9">
        <h5 class="text-bold">Product Specifications</h5>
        <p *ngIf="product.specs.length == 0">
          <small class="text-muted">This product has no specifications...</small>
        </p>
        <div class="content table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let spec of product.specs">
                <td class="spec-title">
                  <b>{{spec.name}}</b>
                </td>
                <td class="spec-text">
                  {{spec.value}}
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <br>
        <h5 class="no-margin text-bold">Product Pictures</h5>

        <div class="product-images" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>

          <div *ngFor="let image of product.attachments" class="product-image">
            <img class="media" [src]="attachmentServer + image.url">
          </div>

        </div>
        <div class="ulpoad-area">
          <ng2-file-input [id]="'multiFilesInput'" [show-previews]="true" [multiple]="true" (onAdded)="onAdded($event)" (onRemoved)="removeFile($event)"
            extensions="['jpg', 'JPG', 'png', 'PNG', 'jpeg', 'JPEG']" [browse-text]="uploadIconHtml" [drop-text]="'Drag and drop files here or click the button below to upload product pictures'">
          </ng2-file-input>
        </div>
      </div>
    </div>

  </div>

</div>