<app-navbar page="returns"></app-navbar>
<h2>
  Returns List
</h2>

<div class="table-responsive">
  <table id="datatables" class="table table-shopping" width="100%" style="width:100%" view-init-spy>
    <thead>
    <tr>
      <th>Customer Name</th>
      <th>Description</th>
      <th>Product</th>
      <th>Vendor Name</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of returnsList">
      <td>
        <label>{{row.customer.accountData.name}}</label>
      </td><td>
      <label>{{row.reason.name}}</label>
    </td>
      <td>
        <a [routerLink]="[ '/product/details' , row.product.id]">{{row.product.name}}</a>
      </td>
      <td>
        <label>{{row.vendor.accountData.name}}</label>
      </td>
      <td>
        <label>{{row.creationDate | amDateFormat:'LL'}}</label>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="openConversation(row.customer.id)">
          Contact customer
        </button>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" [routerLink]="[ '/account/returns' , row.id]">
          Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
