#profile {

    .header {
        position: relative;
        overflow: hidden;
        height: 250px;
        min-height: 250px;
        max-height: 320px;
        background-size: 100% auto;
        padding: 25px;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        max-height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        border: 4px solid rgba(0, 0, 0, 0.151); 

        &:hover {
            .actions {
                display: flex;
                z-index: 100;
            }
            .background-overlay{
                opacity: .5;
            }
            .background-image{
                transform: scale(1.1);
            }
        }

        .background-image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 1000ms;
            background-position: 50% 50%;
            background-size: cover;
        }

        .background-overlay {
            @include darkening-background-overlay();
        }

        .user-info{
            display: flex;
            justify-content: start;
            align-items: center;
            z-index: 100;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
            .email{
                font-size: 16px;
                opacity: .8;
            }
            // @include media-breakpoint('sm') {
            //     margin-bottom: 32px;
            // }
        }

        .actions {
            display: none;
        }
        .actions.loading {
            display: flex;
            z-index: 100;
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}


.control-panel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    button{
        border: 1px solid;
        color: black !important;
        border-radius: 0;
        margin: 0 10px;
    }
}


.profile-picture{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1;

    .image{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .dark-overlay{
        display: none;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;
    }
    &:hover, &.loading{
        .dark-overlay{
            display: flex;        
            @include darkening-background-overlay();
        }
    }

    input[type=file]{
        display: none;
    }
}

.user-bio{
    .fa.fa-spinner{
        position: absolute;
    color: #3f51b5;
    bottom: 15px;
    right: 0;
    }
    textarea{
        font-style: italic;
        padding: 10px;
        font-size: 16px;
        background: none !important;
        text-align: center;
        &:focus{
            background: #fcfcfc !important;
        }
    }

}

.account-info{
    padding: 15px;

    .info-section{
        margin-bottom: 20px;
        display: flex;

        .fa{
            text-align: center;
            background: #f0f0f0;
            color: #3c4858;
            font-size: 20px;
            padding: 10px 0;
            width: 40px;
            border-radius: 100%;
            height: 40px;
        }
        div{
            flex: 1 1 auto;
            padding: 0 15px;
        }
    }
}