<head></head>

<body>
    <div style="background-color:#fff;margin:0 auto 0 auto;padding:30px 0 30px 0;color:#4f565d;font-size:13px;line-height:20px;font-family:'Helvetica Neue',Arial,sans-serif;text-align:left;">
        <center>
            <table style="width:90%;text-align:center">
                <tbody>
                    <tr>
                        <td colspan="3" style="padding:0 0 20px 0;border-bottom:1px solid #e9edee;">
                            <a style="display:block; margin:0 auto;" target="_blank">
                                <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/check-1-icon.png" width="75" height="75" alt="Xero logo"
                                    style="border: 0px;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding:30px 0;">
                            <p style="color:#1d2227;line-height:28px;font-size:27px;margin:12px 10px 20px 10px;font-weight:400;">Welcome to
                                <b>AmericanMade.com</b>!</p>
                            <p style="font-size:17px;margin:0 10px 10px 10px;padding:0;">We'd like to make sure we got your email address right.</p>
                            <p>
                                <a style="font-size:17px;display:inline-block;text-decoration:none;padding:15px 20px;background-color:#58aa89;border:1px solid #58aa89;border-radius:3px;color:#FFF;font-weight:bold;"
                                    href="<%= verifyHref %>" target="_blank">Yes, it's me – let's get started</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding:30px 0 0 0;border-top:1px solid #e9edee;color:#9b9fa5">
                            If you have any questions you can contact us at
                            <a style="color:#666d74;text-decoration:none;" href="mailto:support@american-made.com" target="_blank">support@american-made.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:start;width:60%;padding:30px 0 0 0;color:#9b9fa5">
                            © 2018 OneKeyCloud Inc.
                        </td>
                        <td style="text-align:end;width:20%;padding:30px 0 0 0;color:#9b9fa5">
                            Privacy Policy
                        </td>
                        <td style="text-align:end;width:20%;padding:30px 0 0 0;color:#9b9fa5">
                            Terms and Conditions
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>