<div *ngIf="product" id="productInfo">
  <div class="row">
    <div class="col-xs-12 col-md-6  animated-250 fadeInLeft">
      <div class="images-slider">
        <div class="main" [style.background-image]="'url('+ attachmentServer + selectedImage.url +')'">
        </div>
        <div class="thumbnails">
          <div class="picture" *ngFor="let image of product.attachments"
               [style.background-image]="'url('+ attachmentServer +image.url +')'"
               (click)="selectedImage = image" [class.selected]="selectedImage == image"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 animated-250 fadeInRight">
      <h3 class="no-margin">{{product.name}}</h3>
      <span *ngIf="product.rating">
            <bar-rating [(rate)]="product.rating.average" [max]="5" [readOnly]="true"
                        [theme]="'fontawesome'"></bar-rating> ({{product.rating.total}})
          </span>
      <span *ngIf="!product.rating">
          <bar-rating *ngIf="!product.rating" (rate)="0" [max]="5" [readOnly]="true"
                      [theme]="'fontawesome'"></bar-rating> (0)
          </span>
      <div class="seller">
        <span>Sold by:</span>
        <img [src]="attachmentServer + product.account?.accountData?.profileImage?.url">
        <span>{{product.account?.accountData?.name}}</span>
      </div>
      <h3>
        <b>$ {{product.price}}</b>
      </h3>
      <p>{{product.description?.substring(0, 150)}}...
        <button class="btn btn-primary btn-simple btn-sm no-margin" (click)="scrollTo('#productDetails')">
          <b>More</b>
        </button>
      </p>
      <h5 class="no-margin">
        <b>You will get:</b>
      </h5>
      <div class="product-highlights">
        <div class="product-feature">
          <p>FREE SHIPPING</p>
          <i class="fa fa-2x fa-truck"></i>
          <p>World wide</p>
        </div>

        <div class="product-feature" *ngIf="product.returnPeriode > 0">
          <p>RETURN POLICY</p>
          <i class="fa fa-2x fa-repeat"></i>
          <p>Within {{ product.returnPeriode }} Days</p>
        </div>

        <div class="product-feature" *ngIf="product.warrantyPeriod > 0">
          <p>WARRANTY</p>
          <i class="fa fa-2x fa-shield"></i>
          <p>{{ product.warrantyPeriod }} Days</p>
        </div>

        <div class="product-feature">
          <p>TECHNICAL SUPPORT</p>
          <i class="fa fa-2x fa-phone"></i>
          <p>First 6 months</p>
        </div>

      </div>
      <h5 class="no-margin">
        <b>Quantity</b>&nbsp;
        <small>(Minimum {{product.moq}})</small>
      </h5>
      <div class="quantity">
        <div>
          <button class="btn btn-fab btn-primary btn-simple"
                  (click)="quantity = quantity == product.moq? product.moq: +quantity-1;">-
          </button>
          <input name="quantity" type="number" [(ngModel)]="quantity">
          <button class="btn btn-fab btn-primary btn-simple" (click)="quantity = +quantity+1;">+</button>
        </div>
      </div>
      <button class="btn btn-raised btn-primary" data-toggle="modal" data-target="#noticeModal">
        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart
      </button>
      <button class="btn btn-raised btn-primary" (click)="showRFQForm=true;scrollTo('#productDetails')">
        <i class="fa fa-dollar"></i>&nbsp;&nbsp;&nbsp;Request for quotation
      </button>
      <button class="btn btn-raised btn-white">
        <i class="fa fa-heart-o text-primary"></i>&nbsp;&nbsp;&nbsp;Add to wishlist
      </button>
    </div>
  </div>
  <div class="product-description">

    <div class="card br-0" id="productDetails">

      <div class="card-content">
        <div *ngIf="showRFQForm" class="row">
          <div class="control-panel">
            <button class="btn btn-simple" (click)="showRFQForm = false;scrollTo('#productInfo')">
              <i *ngIf="!loading" class="fa fa-arrow-left"></i>&nbsp;&nbsp; Cancel
            </button>
            <button class="btn btn-simple" (click)="addRfq();scrollTo('#productInfo')">
              <i *ngIf="!loading" class="fa fa-save"></i>&nbsp;&nbsp; Request for Quatation
            </button>
          </div>
          <form id="rfqForm" view-init-spy (onAfterViewInit)="formLoaded('rfqForm')">
            <div class="text-center">
              <span class="required-mark"></span>Required Fields
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Quatation Title</label>
              <input type="text" class="form-control" [(ngModel)]="currentRfq.title" required id="title" name="title">
            </div>

            <div class="form-group label-floating">
              <label class="control-label">Quatation Description</label>
              <input type="text" class="form-control" id="description" name="description"
                     [(ngModel)]="currentRfq.description" required>
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Quatation Quantity</label>
              <input type="number" class="form-control" min="1" id="Quantity" name="Quantity"
                     [(ngModel)]="currentRfq.quantity" required>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="!showRFQForm">
          <div class="col-xs-12 col-md-2">
            <ul class="nav nav-pills nav-pills-icons nav-pills-primary nav-stacked" role="tablist">
              <!--color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"-->
              <li class="active">
                <a href="#info" role="tab" data-toggle="tab">
                  <i class="fa fa-info"></i> General Info
                </a>
              </li>
              <li>
                <a href="#Specifications" role="tab" data-toggle="tab">
                  <i class="fa fa-list-ul"></i> Specifications
                </a>
              </li>
              <li>
                <a href="#Reviews" role="tab" data-toggle="tab">
                  <i class="fa fa-star-half-o"></i> Customer Reviews
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-10">
            <div class="tab-content">
              <div class="tab-pane active" id="info">
                <h4>
                  <b>Description</b>
                </h4>
                <p>
                  {{product.description}}
                </p>
                <h4>
                  <b>Prototype</b>
                </h4>
                <p>A prototype is available for {{product.prototypePrice == 0? 'Free': '$ ' + product.prototypePrice}}!
                  &nbsp;&nbsp;
                  <button class="no-margin btn btn-raised btn-sm btn-dark"
                          [routerLink]="[ '/order/checkout' , product.id]">Order Prototype
                  </button>
                </p>

                <h4>
                  <b>Warranty</b>
                </h4>
                <div *ngIf="product.warrantyPeriod == 0">
                  <p>
                    <i class="fa fa-shield text-danger"></i> &nbsp; No Warranty Provided with this product
                  </p>
                </div>
                <div *ngIf="product.warrantyPeriod > 0">
                  <p>
                    <b>
                      <i class="fa fa-shield text-success"></i> &nbsp; {{product.warrantyPeriod}} Days</b>
                    <br> Notes: Warranty is extendable.
                  </p>
                </div>
                <h4>
                  <b>Shipping</b>
                </h4>
                <p>
                  <b>Free</b> world wide.
                  <br> Notes: To be eligible for free shipping ordered quantity should be more than 100 items.
                </p>
                <h4>
                  <b>Return Policy</b>
                </h4>
                <div *ngIf="product.returnPeriode == 0">
                  <p>
                    <i class="fa fa-times text-danger"></i> &nbsp; Returns are not accepted for this product.
                  </p>
                </div>
                <div *ngIf="product.returnPeriode > 0">
                  <p>
                    Returns are accepted within {{product.returnPeriode}} days from the purchase date.
                  </p>
                  <ul>
                    <b>1. Submit Return Request</b>
                    <br>
                    <b>2. Prepare your package for return:</b> Pack your item securely, inserting any paperwork that was
                    included
                    when you requested your return from the Online Returns Center. If you don't have the original
                    product
                    packaging, use a sturdy box and include padding such as packing bubbles or newspaper. Attach your
                    return
                    label to the package.
                    <br>
                    <b> 3. Ship your return based on the return shipping option you selected:</b> For more information
                    on the
                    return shipping options, go to About Return Shipping.
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="Specifications">
                <button class="btn btn-raised btn-dark" (click)="toggleRequestSpecification()">
                  <i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;&nbsp;Request for Specifications
                </button>
                <form *ngIf="requestSpecificationMode" id="specificationForm" view-init-spy
                      (onAfterViewInit)="formLoaded('specificationForm')">

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group-sm required">
                                        <textarea required class="form-control" type="text" rows="3" id="description"
                                                  name="description" [(ngModel)]="requestSpecificationModel.description"
                                                  data-parsley-required-message="Description is required"
                                                  placeholder="Leave a description">
                                        </textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-raised btn-primary" (click)="requestSpecification()">
                    <i *ngIf="!requestSpecificationLoading" class="fa fa-send-o"></i>
                    <i *ngIf="requestSpecificationLoading" class="fa fa-spin fa-spinner"></i>
                    {{requestSpecificationLoading? '&nbsp;&nbsp;&nbsp;We are sending your request...':'Send'}}
                  </button>
                  <button class="btn btn-raised btn-danger" (click)="toggleRequestSpecification()">Cancel</button>
                </form>
                <div class="content table-responsive">
                  <table class="table">
                    <tbody>
                    <tr *ngFor="let spec of product.specs">
                      <td class="spec-title">
                        <b>{{spec.name}}</b>
                      </td>
                      <td class="spec-text">
                        {{spec.value}}
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="tab-pane" id="Reviews">
                <div class="col-md-12 message-item" *ngFor="let review of productReviews let i=index"
                     id="{{review.id}}">
                  <div class="card">
                    <div *ngIf="review.owner.accountData.profileImage"
                         class="card-header card-header-icon message-image" data-background-color=""
                         [style.background-image]="'url(' + attachmentServer + review.owner.accountData.profileImage.url +')'">
                    </div>
                    <div class="card-header card-header-icon message-image"
                         *ngIf="!review.owner.accountData.profileImage" data-background-color=""
                         [style.background-image]="'url(' + review.owner.accountData.socialImage +')'">
                    </div>
                    <div class="card-content">
                      <h4 class="card-title">{{review.text}}</h4>
                      <bar-rating [(rate)]="review.rating" [max]="5" [readOnly]="true"
                                  [theme]="'fontawesome'"></bar-rating>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i>
        </button>
        <h5 class="modal-title" id="myModalLabel">Return Policy!</h5>
      </div>
      <div class="modal-body" *ngIf="product">
        <div class="instruction">
          <div class="row">
            <div class="col-md-8">
              <strong>1. Step One</strong>
              <p>The first step is to create an account at
                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the
                classic version, whatever works best for you.</p>
            </div>
            <div class="col-md-4">
              <div class="picture">
                <img class="img-rounded img-responsive" [src]="attachmentServer + product.attachments[0]?.url">
              </div>
            </div>
          </div>
        </div>
        <p>If you have more questions, don't hesitate to contact us or send us a tweet @creativetim. We're here to
          help!</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"
                (click)="addProductToShoppingCart()">ADD
        </button>
      </div>
    </div>
  </div>
</div>
