// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/* dawning-of-a-new-day-regular - latin */
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'),
       url('../assets/fonts/dawning-of-a-new-day/dawning-of-a-new-day-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/dawning-of-a-new-day/dawning-of-a-new-day-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* abel-regular - latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel Regular'), local('Abel-Regular'),
       url('../assets/fonts/abel/abel-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/abel/abel-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-regular - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Regular'), local('Archivo-Regular'),
       url('../assets/fonts/archivo/archivo-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/archivo/archivo-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-500 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: local('Archivo Medium'), local('Archivo-Medium'),
       url('../assets/fonts/archivo/archivo-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/archivo/archivo-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-600 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo SemiBold'), local('Archivo-SemiBold'),
       url('../assets/fonts/archivo/archivo-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/archivo/archivo-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-700 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo Bold'), local('Archivo-Bold'),
       url('../assets/fonts/archivo/archivo-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/archivo/archivo-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}