<nav>
  <div class="left">
    <div class="logo" routerLink="/Home">
      <p class="american">American</p>
      <p class="made">Made</p>
    </div>
  </div>

  <div class="middle">
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Services</a>
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Help Center</a>
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Contact Us</a>
  </div>

  <div class="right">
    <div class="button-with-icon" routerLink="/auth/signin">
      <span>
        <i class="fa fa-sign-in"></i>
        <p>Sign in</p>
      </span>
    </div>
    <div class="button-with-icon" routerLink="/auth/register" >
      <span>
        <i class="fa fa-pencil"></i>
        <p>Join For Free</p>
      </span>
    </div>
  </div>
</nav>