<nav>
  <div class="left">
    <div class="logo" (click)="navigateTo('/home')">
      <p class="american">American</p>
      <p class="made">Made</p>
    </div>
  </div>

  <div class="middle">
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Services</a>
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Help Center</a>
    <a>
      <i class="fa fa-angle-down"></i>&nbsp;Contact Us</a>
    <a (click)="navigateTo('/admin/approval')">My Dashbaord</a>
  </div>

  <div *ngIf="!auth.userApi.isAuthenticated()" class="right">

    <div class="button-with-icon" (click)="navigateTo('/auth/signin')">
      <span>
        <i class="fa fa-sign-in"></i>
        <p>Sign in</p>
      </span>
    </div>
    <div class="button-with-icon" (click)="navigateTo('/auth/register')">
      <span>
        <i class="fa fa-pencil"></i>
        <p>Join For Free</p>
      </span>
    </div>
  </div>

  <div class="right dropdown" *ngIf="auth.userApi.isAuthenticated()">
    <div class="userName dropdown-toggle" data-toggle="dropdown">
      <p>{{getUserName()}}</p>
      <p>{{getUserEmail()}}</p>
      <ul class="dropdown-menu">

        <li *ngIf="this.auth.account?.isAdmin">
          <a (click)="navigateTo('/admin/approval')">Admin Approval</a>
        </li>
        <li>
          <a (click)="navigateTo('account/dashboard')">Dashbaord</a>
        </li>
        <li>
          <a (click)="navigateTo('account/orders')">Orders</a>
        </li>
        <li>
          <a (click)="navigateTo('account/messages')">Messages</a>
        </li>
        <li>
          <a (click)="navigateTo('account/rfps')">RFQs & RFPs</a>
        </li>
        <li>
          <a (click)="auth.logout()">Sign out</a>
        </li>
      </ul>
    </div>
    <div class="header-icon">
      <p>5</p>
      <i class="fa fa-bell"></i>
    </div>
    <div class="header-icon" (click)="navigateTo('/order/mycart')">
      <p>2</p>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>

</nav>
