<div class="links">
    <div class="links-list">
        <div class="logo">
            <p class="american">American</p>
            <p class="made">Made</p>
        </div>
    </div>
    <div class="links-list">
        <p class="title">ABOUT US</p>
        <p class="footer-link">About AmericanMade.com</p>
        <p class="footer-link">About OneKeyCloud Inc.</p>
        <p class="footer-link">Sitemap</p>
    </div>
    <div class="links-list">
         <p class="title">CUSTOMER SERVICE</p>
        <p class="footer-link">Help Center</p>
        <p class="footer-link">FAQ</p>
        <p class="footer-link">Policies & Rules</p>
        <p class="footer-link">Report / Complain</p>
        

    </div>
    <div class="links-list">
         <p class="title">PLATFORM FEATURES</p>
        <p class="footer-link">Verified American Businesses</p>
        <p class="footer-link">Request For Quotation</p>
        <p class="footer-link">Request For Proposals</p>
        <p class="footer-link">Advanced Analytics & Intelligence</p>
        

    </div>
</div>

<div class="copyright">
    © 2018 OneKeyCloud Inc.
    <div class="right">
        <span>Terms of Use</span>
        <span>Privacy Policy</span>
    </div>
</div>