.table{
   > thead > tr > th{
       border-bottom-width: 1px;
       font-size: $font-size-h5;
       font-weight: $font-weight-light;
   }

   .tab-pane &{
        tbody > tr > td:first-child{
            width: 36px;
        }
   }

   .radio,
   .checkbox{
       margin-top: -1px;
       margin-bottom: 0;
       padding: 0;
       width: 15px;

       .icons{
           position: relative;
       }
   }
   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td{
       padding: 12px 8px;
       vertical-align: middle;
   }

   .th-description{
       max-width: 150px;
   }
   .td-price{
       font-size: 26px;
       font-weight: $font-weight-light;
       margin-top: 5px;
       text-align: right;
   }
   .td-total{
        font-weight: $font-weight-bold;
        font-size: $font-size-h5;
        padding-top: 14px;
        text-align: right;
    }

   .td-actions .btn{
    margin: 0px;
    padding: 5px;
    }

    > tbody > tr{
        position: relative;
    }

    .flag{
        img{
            max-width: 18px;
            margin-top: -2px;
        }
    }
}
.table-sales{
    margin-top: 40px;
}
.table-shopping{
    > thead > tr > th{
        font-size: 0.9em;
        text-transform: uppercase;
    }
    > tbody > tr > td{
        font-size: $font-paragraph;

        b{
            display: block;
            margin-bottom: 5px;
        }
    }
    .td-actions{
        min-width: 100px;
        text-align: center;
        button{
            padding: 10px !important;
            background: white;
            border-radius: 100%;
            border: none;
            color: black;   
        }

    }
    .td-product{
        font-weight: $font-weight-default;
        font-size: 1.5em;

        small{
            color: $gray-light;
            font-size: 0.75em;
            font-weight: $font-weight-light;
        }

        .badge{
            background-color: rgb(0, 216, 97);
            &.outofstock{
                background-color: $brand-danger;
            }
        }
    }
    .td-number{
       font-weight: $font-weight-light;
       font-size: $font-size-h4;
   }
    .td-product{
        min-width: 200px;

        a{
            color: $black-color;

            &:hover,
            &:focus{
                color: $brand-primary;
            }
        }
    }
    .td-number{
        text-align: right;
        min-width: 145px;

        small{
            margin-right: 3px;
        }
    }

    .img-container{
        width: 170px;
        max-height: 200px;
        overflow: hidden;
        display: block;
        padding: 5px 15px;
        margin: 10px;
        background: white;

        img{
            width: 100%;
        }
    }

    tr{
        cursor: pointer;

        &.selected{
            background-color: #e6e4e4d9;
            border-left: 5px solid #3F51B5 !important;
            border-collapse: inherit !important;
        }
    }
}

.dataTables_length{
    .form-group, .form-group-sm {
        margin: 0px 10px;
        width: 30px;
        overflow: hidden;
    }
}

.dataTables_filter{

    .form-group, .form-group-sm {
        margin: 0;
        padding: 0 0 15px;
    }
    
    .form-control {
    height: 36px !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    border: 1px solid #c5c5c5;
    background: white !important;
    padding: 15px !important;
    
    &::placeholder{
        font-size: 14px;
    }
}

}
.table-top {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px;
}


.table-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 15px;
}

.text-nowrap {
    white-space: nowrap;
}

.text-wrap {
    white-space:pre-wrap;
}