<div class="box">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="card card-testimonial">
            <div class="card-content">

              <div id="regularMap" class="map col-md-6"></div>
              <form class="col-md-6">
                <div class="account-info" style="text-align: left">
                  <div class="info-section">

                    <i class="fa fa-map"></i>
                    <div>
                      <h4>ADDRESS</h4>
                      <p> 1, wallStreet, New York, USA
                      </p>
                    </div>
                  </div>
                  <div class="info-section">

                    <i class="fa fa-envelope"></i>
                    <div>
                      <h4>REGISTRED EMAIL</h4>
                      <p>American@BIZ.com</p>
                    </div>
                  </div>
                  <div class="info-section">
                    <i class="fa fa-phone"></i>
                    <div>
                      <h4>CONTACT NUMBERS</h4>
                      <p class="no-margin">Mobile:
                        +099999999</p>
                    </div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
